{% extends "layouts/base.html" %}
{% block title %}
  Welcome to Humana Apparels
{% endblock title %}
{% block meta_description %}
  <meta name="description" content="Home of Humana Apparels Pvt. Ltd.">
{% endblock meta_description %}
{% block content %}
  <!-- Hero Carousel -->
  {% include "partials/hero_carousel.html" %}
  <!-- Overview / 'At a glance' -->
  <!-- Featured Clients / Testimonials -->
  {% include "partials/featured_clients_section.html" %}
  <!-- News Section -->
  {% include "partials/featured_news_section.html" %}
{% endblock content %}
