{% extends "layouts/base.html" %}
{% block title %}
  Contact Humana Apparels
{% endblock title %}
{% block meta_description %}
  <meta name="description" content="Contact Humana Apparels Pvt. Ltd.">
{% endblock meta_description %}
{% block content %}
  <!-- Contact Information -->
  {% include "partials/contact_information.html" %}
  <!-- Office Location Map-->
  {% include "partials/office_location_map.html" %}
  <!-- Contact Form -->
  {% include "partials/contact_form.html" %}
{% endblock content %}
