{% extends "layouts/base.html" %}
{% block title %}
  Customers of Humana Apparels
{% endblock title %}
{% block meta_description %}
  <meta name="description" content="Customers of Humana Apparels Pvt. Ltd.">
{% endblock meta_description %}
{% block content %}
  <!-- Clients Section -->
  {% include "partials/clients_section.html" %}
  <!-- Testimonials Section -->
  <section id="customers-testimonials" class="py-6">
    {% include "partials/testimonials_section.html" %}
  </section>
{% endblock content %}
